In [1]:
import numpy as np
import pandas as pd

 # Membuat DataFrame

In [14]:
df = pd.read_csv("../DataSheets/Dataset_inisiasi.csv")

In [20]:
df.head() #Method

   Unnamed: 0 provinsi     daerah    jenis  tahun      peng    Cluster
0           0     ACEH  PERDESAAN  MAKANAN   2007  195176.0  Cluster 1
1           1     ACEH  PERDESAAN  MAKANAN   2008  218781.0  Cluster 1
2           2     ACEH  PERDESAAN  MAKANAN   2009  247427.0  Cluster 1
3           3     ACEH  PERDESAAN  MAKANAN   2010  275749.0  Cluster 1
4           4     ACEH  PERDESAAN  MAKANAN   2011  308000.0  Cluster 1

In [24]:
df.tail()

,Unnamed: 0,provinsi,daerah,jenis,tahun,peng,Cluster
3075,4603,INDONESIA,PERDESAANPERKOTAAN,NONMAKANAN,2018,567817.0,Cluster 6
3076,4604,INDONESIA,PERDESAANPERKOTAAN,NONMAKANAN,2019,592689.0,Cluster 6
3077,4605,INDONESIA,PERDESAANPERKOTAAN,NONMAKANAN,2020,622448.0,Cluster 6
3078,4606,INDONESIA,PERDESAANPERKOTAAN,NONMAKANAN,2021,641744.0,Cluster 6
3079,4607,INDONESIA,PERDESAANPERKOTAAN,NONMAKANAN,2022,662025.0,Cluster 6

In [26]:
df.columns

Index(['Unnamed: 0', 'provinsi', 'daerah', 'jenis', 'tahun', 'peng',
       'Cluster'],
      dtype='object')

In [30]:
df.shape

(3080, 7)